
@font-face {
    font-family: "hasky";
    src: local('../../assets/GraveSnatchers.ttf'), url('../../assets/GraveSnatchers.ttf'), format('embedded-opentype');
  }

.headerBox{
    background-color: black;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7em;
}

.logoBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logoHeader{
    width: 5.5em;
}

h1{
    font-family: "hasky" !important;
    margin-left: 0.3em;
    color: red;
    text-shadow: 2px 1px white;
}